<div class="col-10 offset-1 about">
  <h1>About Dark Quotes</h1>

   <p>
    This interactive web app was created by Matthew Choat. He is currently studying "Full-stack" web development and coding at Southern Methodist University. He's been working in the high-tech industry since 2011. His interests include playing music, writing stories, and designing video games.
    </p>
    <p>
      If you want to learn how to code like Matt,<a target="_blank" href="https://online.bootcampspot.com"> start here</a>.
    </p>
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.png', class: 'img-fluid' %>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />