<h2>
Welcome to Dark Quotes: The spookiest destination for unsolicited advice on gaming and technology...
  <br />
  <br />
  <span>Pro-tip No. <%= @quote.id %>:</span>

</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />