
@import "bootstrap";

.clear {
  clear: both;
}

.circle {
    font-weight: bold;
    font-style: italic;
    position: relative;
    border-radius: 100%;
    background: #e57d22;
    border: 1px solid #F7F7F7;
    width: 80px;
    height: 80px;
    margin: 10px 10px;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    line-height: 16px;
    cursor: pointer;
    transform: rotate(11deg);
    -ms-transform: rotate(11deg); /* IE 9 */
    -webkit-transform: rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top: 26px;
}

.links a {
  color: #ffffff;
  font-size: 25px;

  font-family: 'optimusprincepsregular', serif;
  font-weight: regular;
}

header {
  border-top: 9px solid #e57d22;
}

hr {
  clear:both;
}

h1 {
  font-family: 'optimusprincepsregular', serif;
  font-size:48px;
  color: #ffffff;

}

h2{
  font-family: 'optimusprincepsregular', serif;
  font-style: italic;
  color: #ffffff;

}

.next-quote {
  color:#e57d22;
  font-family: 'optimusprincepsregular', serif;
  font-size:20px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 11px
}

.logo:hover {
  text-decoration: none;
}

body{
  background-color: #000000;
  background: url(fire.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal-title {
background-color: #474545;
font-family: 'optimusprincepsregular', serif;
}

.modal-body {
background-color: #474545;
font-family: 'optimusprincepsregular', serif;
font-style: italic;
}

.modal-footer {
background-color: #474545;
}

.modal-content {
background-color: #474545;
}

.modal-header {
background-color: #474545;
}
